flow_nodered.json
[{"id":"8a1427ae.82eec8","type":"tab","label":"Flow 1"},{"id":"3b962ac.b4c62d6","type":"http in","z":"8a1427ae.82eec8","name":"","url":"/chatfuel","method":"get","swaggerDoc":"","x":152,"y":113,"wires":[["4a436b40.f72e64"]]},{"id":"4a436b40.f72e64","type":"change","z":"8a1427ae.82eec8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.query.mensagem","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":137.23333740234375,"wires":[["9b4bf11.14ec69"]]},{"id":"ed1a9e02.127d7","type":"function","z":"8a1427ae.82eec8","name":"","func":"msg.payload = \n[{\"text\":msg.payload.output.text[0]}];\nreturn msg;","outputs":1,"noerr":0,"x":501.5,"y":281.75,"wires":[["adb9ac1.c1d785"]]},{"id":"adb9ac1.c1d785","type":"http response","z":"8a1427ae.82eec8","name":"","x":556.5,"y":369.5,"wires":[]},{"id":"9a93cbb8.56496","type":"debug","z":"8a1427ae.82eec8","name":"","active":true,"console":"false","complete":"false","x":628.5,"y":155.5,"wires":[]},{"id":"9b4bf11.14ec69","type":"watson-conversation-v1","z":"8a1427ae.82eec8","name":"","workspaceid":"925eebb3-c6b5-43ae-adc6-a3f50f2a9638","multiuser":false,"context":true,"x":441.5,"y":216,"wires":[["ed1a9e02.127d7","9a93cbb8.56496"]]}]